
/*************************************************************************

Extemely large devices > 2000px

**************************************************************************/

@media (min-width: 2000px) {
    /*======Nav============*/
    .nav-wrapper {
        padding: 0;
        margin: 0 auto;
        max-width: 1700px;
    }
    
    .container {
        max-width: 2000px;
    }
}


/*************************************************************************

Medium devices (Landscape tablets and medium destops) 992px-1199px

**************************************************************************/

@media (min-width: 992px) and (max-width: 1199px) {
    /*======home============*/
    #home-heading h1 {
        font-size: 3.453125rem;
    }
    
    #home-text p {
        font-size: 0.903125rem;
    }
    
    /*======Headings============*/
    .vertical-heading h5 {
        font-size: 0.85rem;
        word-spacing: 4px;
        top: -25px;        
    }
    
    .vertical-heading h2 {
      top: 4px;  
    }
    
    .horizontal-heading h2,
    .vertical-heading h2 {
        font-size: 2.38rem;
        
    }    
    
    /*======service tabs============*/
    #service-tabs ul {
        margin-bottom: 30px;
    }
    
    .service-tab .tab-bg {
        padding: 15px 20px;
        height: 380px;
    }
    
    .service-tab h2 {
        margin-bottom: 20px;
    }
    
    .service-tab h3 {
        margin-bottom: 20px;
    }
    
    /*======price hot============*/
    .price-hot {
        right: -55px;
    }
    
    
    /*======blog============*/
    .blog-post {
        padding: 20px 10px;
    }
    
    .blog-post p {
        line-height: 1.5;
    }
    
    .blog-post-info img {
        margin-right: 5px;
    }
    
    /*======get in touch============*/
    .office-details i {
        margin-right: 10px;
        font-size: 1.275rem;
    }
    
    .office-details span {
        font-size: 0.8rem;
    }
    
    .office .social-list {
        margin: 0 0 0 20px;
    }
    
    /*======statement============*/
    #tech-statement h3 {
        font-size: 1.6rem;
    }
}


/*************************************************************************

Small devices (portrait tablets and small destops) 768px-991px

**************************************************************************/

@media (min-width: 768px) and (max-width: 991px) {
    /*======home============*/
    .btn {
        width: 7rem;
        text-align: center;
        padding: 10px;
        font-size: 0.7rem
    }
    
    #home-heading h1 {
        font-size: 3rem;
    }
    
    #home-text p {
        font-size: 0.8rem;
    }
    
    /*======Nav============*/
    .nav-wrapper {
        padding: 0;
    }
    
    /*======Headings============*/
    .vertical-heading h5 {
        font-size: 0.75rem;
        word-spacing: 4px;
        top: -25px;        
    }
    
    .vertical-heading h2 {
      top: 3px;  
    }
    
    .horizontal-heading h2,
    .vertical-heading h2 {
        font-size: 2rem;        
    } 
    
    .horizontal-heading h2,
    .vertical-heading h2 {
        font-size: 2rem;        
    }     
    
    /*======Team overlay============*/
    .team-member-overlay {    
        padding: 15px 0;    
    }    
    
    .team-member-overlay:hover h6 {       
        font-size: 1rem;        
    }
    
    .team-member-overlay:hover p {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
    
    /*======statement============*/
    #tech-statement h3 {
        font-size: 1.4rem;
    }
    
    /*======service============*/     
    #services-01 img {
        margin: 140px 10px 60px 0;
    }

    .service {
        margin: 30px 0;
    }
    
   .service .icon {
       font-size: 2rem;       
    }
    
    /*======service tabs============*/ 
    #service-tabs ul {
        margin-bottom: 30px;
    }
    
    .service-tab h2 {
        margin-bottom: 30px;
    }

    .service-tab h3 {
        margin-bottom: 40px;
        font-weight: 600;
        line-height: 1.4;
    } 
    
    .service-tab p {
        margin-bottom: 60px;
        line-height: 1.7;
    }
    
    /*======portfolio============*/
    #portfolio .content-box-md {
        padding: 60px 0;
    }
    
    /*======testimonila============*/
    .testimonial h3 {
        font-size: 1.2rem;        
    }  
    
    .testimonial .col-md-12 p {
        line-height: 1.5;
        margin-bottom: 30px
    }

    .testimonial .author p {
        padding: 0;
        margin-top: 0;
    }       

    
    /*======pricing============*/
    .pricing {
        padding: 10px;
    }   
    
    .price-dollar {
        font-size: 1rem;
    }
    
    .price-number {
        font-size: 2.8rem;
    }
    
    .price-month {
        font-size: 0.7rem;
        position: absolute;
        left: 35px;
        top: 40px;
    } 
    
    .pricing ul {        
        padding: 5px 2px;
    }
    
    .pricing ul li {
        padding: 10px 0;
        font-size: 1rem
    }

    .pricing ul i {
        margin-right: 10px;
        color: green;
        font-size: 1rem;
    }
    
    .price-hot {
        width: 95%;        
        right: -80px;
    }    
    
    /*======stats============*/
    .stats-item {
        padding: 28px 10px 15px; 
    }
    
    /*======blog============*/
    #blog .vertical-heading {
        margin-bottom: 0;
    }
        
    .blog-post p {
        line-height: 1.5;
    }   
    
    
    .blog-post-info p {
        font-size: 0.7rem
    }     
   
    
    /*======contact============*/
    .office-details i {
        margin-right: 10px;
        font-size: 1.275rem;
    }
    
    .office-details span {
        font-size: 0.8rem;
    }
    
    .office .social-list {
        margin: 0 0 0 20px;
    }
    
    .contact-form {
        margin-top: 20px;
    }
    
    .contact-form textarea {
        min-height: 100px;
    }
    
}


/*************************************************************************

Extra small devices (portrait tablets and landscape phones) < 767px

**************************************************************************/

@media (max-width: 767px) {
    
    /*======Headings============*/
    .content-box-lg {
        padding: 60px 0;
    }
    
    .content-box-md {
        padding: 40px 0;
    }
    
    /*======Headings============*/
    .vertical-heading h5 {
        font-size: 0.75rem;
        word-spacing: 4px;
        top: -25px;
        left: -40px
    }
    
    .vertical-heading h2 {
      top: 3px;  
    }
    
    .horizontal-heading h2,
    .vertical-heading h2 {
        font-size: 1.8rem;        
    } 
    
    .horizontal-heading h2,
    .vertical-heading h2 {
        font-size: 1.8rem;        
    }     
    
    .horizontal-heading {
        margin-bottom: 20px;
    }   
    
    
    /*======home============*/
    #home-heading h1 {
        font-size: 1.5rem;       
    }
    
    #home-text p {
        font-size: 0.9rem;
        margin: 30px auto;
        text-align: center;
        width: 90%;
    }
    
    .btn {
        width: 11rem;
        font-size: 0.7rem;       
    }
    
    /*======about============*/
    .about-item {
        margin: 0 auto 20px ;
    }
    
    .about-item i {
        font-size: 2rem;
    }
    
    .about-item h3 {
        font-size: 1.5rem;
    }
    /*======Team ============*/
    .owl-stage-outer {
        border: 1px solid transparent;
    }
    
    
    /*======Team overlay============*/
    .team-member-overlay {    
        padding: 80px 0 0;    
    }    
    
    .team-member-overlay:hover h6 {       
        font-size: 1.5rem;        
    }
    
    .team-member-overlay:hover p {
        font-size: 0.9rem;
        margin: 15px 0;
    }
    
    /*======skills============*/
    .skill h4 {
        font-size: 1rem;        
    }
    
    .progress {
        height: 15px;       
    }
    
    .progress-bar span {
        font-size: 0.6rem;       
        padding: 2px;        
    }

    
    /*======statement============*/
    #tech-statement h3 {
        font-size: 1.2rem;        
    }
    
    /*======white bg============*/
    .white-bg {
        height: 10px;
    }
    
    
    /*======service============*/     
    #services-01 .horizontal-heading {
        margin-bottom: 0;
    }

    .service {
        margin: 30px 0;
    }
    
   .service .icon {
       font-size: 2rem; 
       text-align: center;
    }
    
    .service h5,
    .service h4,
    .service p {
        text-align: center;
    }
    
    .service p {
        margin: 0 auto;
        width: 75%;
    }
    
    /*======service tabs============*/ 
    .service-tab h2 {
        margin: 10px 0;
        font-size: 3rem;
    }

    .service-tab h3 {
        margin: 20px 0;        
        line-height: 1.4;
        font-size: 1.2rem
    } 
    
    .service-tab p {
        margin-bottom: 30px;
        line-height: 1.5;
    }
    
    #services-02 .btn-yellow {
        width: 75%;
    }
    
    /*======portfolio============*/
    #portfolio .button-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: -40px;
    }
    
      
    /*======testimonial============*/  
    #testimonial .vertical-heading {
       margin: 0;        
    }
    
    #testimonial .content-box-lg {
        margin: 20px auto 0;
        padding: 70px 0 0 0;        
    }
    
    #testimonial-slider {
        margin-top: 200px;
    }
    
    #testimonial-slider .fa-commenting-o {
        font-size: 2rem;
    }
    
    #testimonial-slider .fa-star,
    #testimonial-slider .fa-star-half-o {
        font-size: 1rem;
    }
    
    .testimonial h3 {
        font-size: 1.2rem;
    }
    
    .testimonial p {
        line-height: 1.2;
    }
    
    /*======price============*/  
    .pricing {
        margin: 10px 0;
    }
    
    .pricing:hover {
       -webkit-transform: scale(1);
       transform: scale(1);        
    }
    
    .pricing-container h3 {
        text-align: center;
    }
    
    .pricing ul  {
        padding: 10px 0;
    }
    
    /*======stats============*/
    #stats .vertical-heading {
        margin: 0;
    }
    .stats-item {
        padding: 30px 10px 10px;
    }
    
    .stats-item i {
        font-size: 2rem;
    }
    
    .stats-item h3 {
        font-size: 2rem;
    }
    
    /*======client============*/
    #clients .client img {
        min-width: 50px;
        max-width: 100px;
        margin: 0 10px;             
    }
    
    /*======blog============*/
    #blog .vertical-heading {
        margin: 0;
    }
    
    .blog-post {
        margin: 20px auto;
    }
    
    /*======contact============*/
    .office {
        margin: 20px auto;        
    }    
    
}

/*************************************************************************

Custom tailored Media Queries

**************************************************************************/

/**********************************
Footer
***********************************/
@media only screen and (min-width: 960px) {
    .footer p {
        display: inline-block;
        font-size: 1rem;
        text-align: left;
    }    
}

/*======Custom media query to fix footer issue with back to top button============*/
@media only screen and (min-width: 960px) and (max-width: 1350px) {
    .footer p:nth-child(2) {
        position: absolute;
        right: 20%;
    }
}

@media only screen and (min-width: 1351px) {
    .footer p:nth-child(2) {
        float: right;       
    }
}


/**********************************
Pricing
***********************************/
@media only screen and (min-width: 768px) {
    .pricing-container .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

/**********************************
Timeline tree
***********************************/
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    #timeline-tree::after {
        left: 25px;
    }

    /* Full-width containers */
    .timeline-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 5px;        
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .timeline-left::after,
    .timeline-right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .timeline-right {
        left: 0%;
    }
    
    /*======timeline============*/
    #timeline-tree {
        margin-top: 0;
    }
    
    .timeline-container h2,
    .timeline-container p {
        margin-top: 10px
    }
    
    .timeline-container {
        padding: 10px;
    }
}

