/**********************************
Colors
***********************************/

/* ========================
yellow : #f4c613;
black : #000;
grey : #212226;
white: #fff;
milky: #f4f4f4;
======================== */

/**********************************
Global
***********************************/

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
}

section {
    background-color: #fff;
    overflow: hidden;
}

/**********************************
Home
***********************************/

#home {
    background: none;
    height: 100%;
}

/*======preloader=============*/

#preloader {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

/*======status=============*/

#status {
    background-image: url(/img/preloader/preloader.gif);
    background-repeat: no-repeat;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    right: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/*======video background=============*/

#home-video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-image: url(../img/preloader/preloader.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/*======overlay=============*/

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/*======content=============*/

#home-content {
    display: table;
    width: 100%;
    height: 100%;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-weight: 100;
    font-size: 4.0625rem;
    text-transform: uppercase;
    margin: 0;
}

#home-heading span {
    color: #f4c613;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-size: 1.0625rem;
    font-weight: 100;
    margin: 8px 0 30px 0;
}

/**********************************
Buttons
***********************************/

.btn-general {
    font-family: "Realway", sans-serif;
    font-size: 0.8125rem;
    border-radius: 40px;
    margin: 0 60px;
    padding: 12px 46px;
    text-transform: uppercase;    
}

/*======Button home=============*/

.btn-home {
    color: #fff;
    width: 11rem;
    color: #f4c613;
    border: 1px solid #f4c613;
    font-weight: 600;
     -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.btn-home:hover,
.btn-home:focus {
    border-color: #f4c613;
    background-color: #f4c613;
    color: #fff;
    width: 15rem;
 }

.btn-yellow {
    color: #fff;
    width: 11rem;
    background-color: #f4c613;
    border: 1px solid #f4c613;
    font-weight: 600;
     -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.btn-yellow:hover,
.btn-yellow:focus {
    border-color: #212226;
    background-color: #212226;
    color: #fff;
    width: 15rem;
}
/**********************************
arrow down
***********************************/

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 2rem;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    text-align: center;
    z-index: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
    font-size: 2.5rem;
    bottom: 30px;
}

/**********************************
Content boxes
***********************************/

.content-box-lg {
    padding: 100px 0;
}

.content-box-md {
    padding: 80px 0;
}

/**********************************
Headings
***********************************/

.vertical-heading h5 {
    position: relative;
    left: -51px;
    top: -30px;
    color: #f4c613;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    font-size: 1rem;
    word-spacing: 5px;
}

.vertical-heading h2 {
    position: relative;
    top: 5px;
    display: inline-block;
    margin-left: -70px;
    min-height: 130px;
}

.vertical-heading strong {
    color: #f4c613;
}

.horizontal-heading {
    margin-bottom: 80px;
}

.horizontal-heading strong {
    color: #f4c613;
}

.horizontal-heading h2,
.vertical-heading h2 {
    line-height: 1.2;
    font-size: 2.8rem;
    text-transform: capitalize;
    font-weight: 200;
}

.horizontal-heading h5 {
    font-size: 1rem;
    color: #f4c613;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
}

.horizontal-heading h2 {
    margin: 0;
}
/**********************************
About-01
***********************************/

/*======About right=============*/

#about-right p:first-child {
    margin-bottom: 30px;
}

/*======About bottom=============*/

#about-bottom {
    margin: 70px 0;
}

#about-bottom img {
    margin: 0 auto;
}

/**********************************
About-02
***********************************/

#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #fff;
    padding: 50px 30px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.about-item i {
    font-size: 2.6rem;
    margin: 0;
}

.about-item h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.about-item hr {
    border: none;
    background-color: #f4c613;
    width: 50px;
    height: 5px;
    margin: 0 auto;
}

.about-item p {
    margin-top: 20px;
}

/*======About-02 hover=============*/

.about-item:hover {
    background-color: #f4c613;
}

.about-item:hover i {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
    width: 100px;
}

.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/**********************************
Team section
***********************************/
.team-member {
    margin: 10px;
    position: relative;   
}

/*======Team member overlay=============*/

.team-member-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 34, 38, 0.8);
    opacity: 0;
    padding: 60px 0;
    -webkit-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
}

.team-member-overlay:hover {
    opacity: 1;
    -webkit-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
}

.team-member-overlay h6,
.team-member-overlay p,
.team-member-overlay ul {
    opacity: 0;
}

.team-member-overlay:hover h6 {
    color: #f4c613;
    font-size: 1.3rem;
    opacity: 1;
}

.team-member-overlay:hover p {
    color: #fff;
    font-size: 1rem;
    opacity: 1;
}

/*======Team member social icons=============*/
.team-member-overlay:hover ul {
    list-style: none;
    margin: 10px auto;
    display: inline-block;
    padding: 0;
    opacity: 1;
}

.team-member-overlay:hover li {
    display: inline-block;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-right: 5px;
}

.team-member-overlay:hover ul a {
    color: #fff;
    background-color: transparent;
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*======social icons hover and smooth transition=============*/
.team-member-info li:hover {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.team-member-info li:hover:nth-child(1) {
    background-color: #3b5998;
    border: 1px solid #3b5998;
}

.team-member-info li:hover:nth-child(2) {
    background-color: #00aced;
    border: 1px solid #00aced;
}

.team-member-info li:hover:nth-child(3) {
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
}

/*======Team member prev next buttons=============*/
.owl-theme .owl-nav[class*="owl-"]{
    font-size: 3rem;
    color: #212226;
    background: none;   
}

.owl-theme .owl-nav [class*="owl-"]:hover,
.owl-theme .owl-nav [class*="owl-"]:focus {
    background: none;
    color: #f4c613;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
    outline: 0;
} 

/**********************************
Skills
***********************************/
.skill {
    margin-bottom: 25px;
}
.skill h4 {
    font-weight: normal;
    line-height: 60px;
    margin: 0;    
}

.progress {
    height: 25px;
    border-radius: 0;
    background-color: #efefef;    
    overflow: visible
}


.progress-bar {
    background-color: #f4c613;   
    position: relative;
}

.progress-bar span {
    font-size: 0.68rem;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    background: #212226;
    padding: 3px;
    left: 97%;
    top: -40px;
}

/*======small triangle=============*/
.progress-bar span:before {
    content: "";
    border-top: 8px solid #212226;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 30%;
}

/**********************************
Statement
***********************************/
#statement {
    background: url(../img/tech/tech-quote.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;  
}

#statement .content-box-lg {
    background: rgba(0,0,0,0.4);
}

#tech-statement h3 {
    color: #fff;
    font-size: 1.75em;
    line-height: 40px;
}

#tech-statement p {
    color: #f4c613; 
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin-top: 15px;
}

/**********************************
History timeline
Credit: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline
A lot of modifications were made
***********************************/

/* The actual timeline (the vertical ruler) */
#timeline {
   background-color: #f4f4f4;
}
#timeline-tree {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 40px;
 }

.timeline-container h2,
.timeline-container p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
}

.timeline-container i {
    color: #fff;
    font-size: 2rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;     
}

.timeline-container:hover i {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.timeline-container hr {
     border: none;
    background-color: #f4c613;
    width: 60px;
    height: 5px;
    margin: 15px auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; 
}

.timeline-container:hover hr {
    background-color: #fff;
    width: 100px;
}

/* The actual timeline (the vertical ruler) */
#timeline-tree::after {
    content: '';
    position: absolute;
    width: 10px;
    background-color: #f4c613; 
    top: 0;
    bottom: 0;
    left: 50%;
}

/* Container around content */
.timeline-container {
    padding: 20px 20px;
    position: relative;
    background-color: #212226;
    width: 50%;
    margin-bottom: 30px;
    transition: all 0.4s ease-in-out; 
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.timeline-container:hover {
    background: #f4c613; 
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: -20px;
    background-color: white;
    border: 4px solid #f4c613; 
    top: 17px;
    border-radius: 50%;
    z-index: 1;    
}

/* Place the container to the left */
.timeline-left {
    left: 0;
}

/* Place the container to the right */
.timeline-right {
    left: 50%;
 }

/* Add arrows to the left container (pointing right) */
.timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #fff;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 35px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff; transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -10px;
}

/* The actual content */
.timeline-content {
    padding: 20px 30px;
    position: relative;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  #timeline-tree::after {
    left: 25px;
  }
  
  /* Full-width containers */
  .timeline-container {
       width: 100%;
       padding-left: 30px;
       padding-right: 5px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-left::after, .timeline-right::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .timeline-right {
    left: 0%;
  }
}

/**********************************
Services Section -01
***********************************/
#services-01 img{
    margin: 60px 10px 60px 0;
}

.service {
    margin: 30px 0;
}

.service .icon {
    font-size: 3rem;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;    
}

.service:hover .icon {
    color: #f4c613; 
    transform: translateX(-20px);
}

.service h5 {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #f4c613; 
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;  
    font-weight: bold;  
}

.service:hover h5 {
    color: #212226;  
}

.service h4 {
    margin: 10px 0 20px 0;
}

.service p {
    line-height: normal;
}


/**********************************
Services Section -02 [tabs]
***********************************/
#services-02 {
    background-color: #f4f4f4;
}

#service-tabs ul{
    margin-bottom: 50px;    
}

#service-tabs li {
    padding: 5px 35px;
    text-transform: uppercase;    
}

#service-tabs li a {
    color: #212226;
    text-decoration: none;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    border-bottom: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; 
}

#service-tabs li a:hover,
#service-tabs li.r-tabs-state-active a{
    color: #f4c613; 
    border-bottom: 3px solid #f4c613; 
    padding-bottom: 5px;
    font-weight: 800;
}

.service-tab img {
    width: 100%;
    margin: 0;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.service-tab .tab-bg {
    background: #fff;
    padding: 20px 30px;
    height: 455px;   
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.service-tab h2,
.service-tab h3 {
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.service-tab h2 {
    color: #f4c613; 
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 40px;
}

.service-tab h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 60px;
    font-weight: 600;
    line-height: 1.4;    
}

.service-tab .tab-bg:hover h2{
    font-weight: 400;
}

.service-tab .tab-bg:hover h3 {
    color: #f4c613; 
}
.service-tab p {
    margin-bottom: 60px;
    line-height: 2;
}


/**********************************
Portfolio
***********************************/

/*styling navigation buttons */
#portfolio-items div.col-md-3 {
    padding: 0;
}

#portfolio-items .button-group {
    margin-bottom: 50px;
}

#portfolio-items button,
#portfolio-items button:hover,
#portfolio-items button:focus {    
    border: none;
    background: none;
    padding: 5px 25px;  
    outline: 0;
}

#portfolio-items button span {
    color: #212226;
    text-decoration: none;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
     -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;   
}

#portfolio-items button.active span,
#portfolio-items button:hover span {
    background: none;
    border: none;
    color: #f4c613; 
    border-bottom: 3px solid #f4c613; 
    padding-bottom: 5px;
    font-weight: 800; 
}

/*img zoom*/
.portfolio-item {
    overflow: hidden;
    position: relative;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*img overlay*/
.portfolio-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(14,14,14,0.8);
    cursor: -webkit-zoom-in;
    cursor: zoom-in;  
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.portfolio-item-overlay:hover {
    opacity: 1;
}

/*overlay details*/
.portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-item-details h3 {
    color: #f4c613; 
    font-weight: 600; 
    text-transform: uppercase;
    font-size: 1.75rem;   
    margin: 0 auto 10px;
    padding: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
   -webkit-transition: transform 0.4s;
    transition: transform 0.4s; 
}

.portfolio-item-details p {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 10px auto 0;
    padding: 0;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
}

.portfolio-item-details span {
    display: inline-block;
    width: 50px;
    height: 10px;
    border-bottom: 3px solid #f4c613; 
    border-top: 3px solid #f4c613; 
    padding: 3px;
}

.portfolio-item-overlay:hover h3,
.portfolio-item-overlay:hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}